<!doctype html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <link rel="shortcut icon" href="/img/icon.jpg" type="image/x-icon">
  <link rel="stylesheet" href="/css/home.css">

  <title>Update Employee Data</title>
</head>

<style>
  body {
    background-color: #f9f8ec;
  }
</style>

<%- include('partials/header') -%>


  <div class="container my-5">

    <%- include('partials/messages') -%>

      <h1 class="text-center mb-4">Update Employee Data</h1>

      <form class="my-2 w-50 m-auto my-3" method="POST" action="/home/update<%= employee.id %>?_method=PUT">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group my-4">
          <input type="text" class="form-control" name="name" placeholder="Name" value="<%= employee.name %>">
        </div>
        <div class="form-group my-4">
          <input type="text" class="form-control" name="position" placeholder="Position"
            value="<%= employee.position %>">
        </div>
        <div class="form-group my-4">
          <input type="number" class="form-control" name="contact" placeholder="Contact"
            value="<%= employee.contact %>">
        </div>
        <div class="form-group my-4">
          <input type="date" class="form-control" name="joining_date" placeholder="Joining_date"
            value="<%= employee.joining_date %>">
        </div>
        <div class="form-group my-4">
          <input type="number" class="form-control" name="salary" placeholder="Salary" value="<%= employee.salary %>">
        </div>
        <div class="form-check my-4">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Terms and conditions</label>
        </div>
        <button type="submit" class="btn btn-success w-100">Update</button>
      </form>

  </div>
  <%- include('partials/footer') -%>